
@{
    ViewData["Title"] = "Sobre";
}
 <!-- About Section -->
    <section class="page-section bg-primary text-white mb-0 mt-5" id="about">
        <div class="container">

            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-white">Sobre</h2>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- About Section Content -->
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">Fiz esta página com roteamento via C# sem conhecer a linguagem, por favor, não desiste de mim!</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">Aqui era pra ter um botão falando que iria efetuar o download do meu CV, porém não estou com ele em mãos.</p>
                </div>
            </div>

            <!-- About Section Button -->
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="#">
                    <i class="fas fa-download mr-2"></i>
                    Baixar CV!
                </a>
            </div>

        </div>
    </section>

